<!DOCTYPE html>
<head>
<title>
Home
</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
body{
background:url(backimg.jpg);
background-size:cover;
background-repeat:no-repeat;
background-attachment:fixed;
}

.main{
border:1px solid #FCF0FF;
padding:20px;
margin:60px;
background:#FCF0FF;
border-radius:50px;
}

header{
padding:10px;
}

header nav ul{
padding:20px;
margin-left:20px;
}

header nav ul li{
float:left;
width:180px;
list-style:none;
}

header nav ul li a{
text-decoration:none;
color:#756779;
padding:20px 30px;
border-radius: 10px;
}

header nav ul li a:hover{
color:#FCF0FF;
background:#756779;
}

.body1 img{
box-shadow:0px 3px 3px 0px grey;
padding:20px;
margin-left:70px;
}
.body1 h2{
text-align:center;
color:#756779;
font-size:30px;
}

.body2{
border:2px solid #756779;
padding:30px;
margin:30px;
}

.body2 h2{
color:white;
background:#4C484D;
text-align:center;
padding:30px;
}

.body2 div a{
text-decoration:none;
color:#4C484D;
font-size:25px;
}

.body2 #first{
border:dotted 1px #756779;
padding:30px;
}

.body2 #first img{
padding:2%;
margin-right:50px;
margin-left:50px;
border:1px solid #756779;
}

.body2 #second{
border:dotted 1px #756779;
padding:30px;
margin-top:20px;
}
.body2 #second img{
padding:2%;
margin-right:50px;
margin-left:50px;
border:1px solid #756779;
}

.body2 #third{
border:dotted 1px #756779;
padding:30px;
margin-top:20px;
}
.body2 #third img{
padding:2%;
margin-right:50px;
margin-left:50px;
border:1px solid #756779;
}

.body2 #fourth{
border:dotted 1px #756779;
padding:30px;
margin-top:20px;
}
.body2 #fourth img{
padding:2%;
margin-right:50px;
margin-left:50px;
border:1px solid #756779;
}
.body2 #fifth{
border:dotted 1px #756779;
padding:30px;
margin-top:20px;
}
.body2 #fifth img{
padding:2%;
margin-right:50px;
margin-left:50px;
border:1px solid #756779;
}
.body2 #sixth{
border:dotted 1px #756779;
padding:30px;
margin-top:20px;
}
.body2 #sixth img{
padding:2%;
margin-right:50px;
margin-left:50px;
border:1px solid #756779;
}

.body3 img{
margin-left:230px;
margin-top:50px;
padding:20px;
border:dotted 2px #756779;
opacity:0.7;
border-radius:40px;
}

.body3 p{
font-size:30px;
text-align:center;
margin-top:-600px;
line-height:2.6em;
padding:20px;
}

footer{
display:flex;
padding:70px;
background:#756779;
border-radius:0px 0px 50px 50px;
margin:140px -21px -21px -21px;
}

footer .w1{
flex:2;
}
footer .w2{
flex:1;
}
footer .w3{
flex:1;
}

footer .w1 p{
text-align:center;
color:#BEBEBE ;
}

footer .w2 ul {
list-style:none;
}
footer .w2 ul a{
text-decoration:none;
color:#BEBEBE ;
}
footer .w2 ul li{
padding:10px;
}
footer .w3 p{
color:#BEBEBE ;
}

footer .w3 a{
color:#5B0072 ;
padding:10px;
background:#BEBEBE ;
}


.body3{
    text-align: center;
}

.body3 h4{
color:white;
background:#4C484D;
text-align:center;
padding:30px;
width:400px;
margin: 5% 0% 5% 30%;
}
</style>
</head>
<body>
<div class="main">
<header>
<nav>
<ul>
<li><a href ="newsamplepage.html">Home</a></li>
<li><a href ="aboutus.html">About Us</a></li>
<li><a href ="login.html">Log In</a></li>
<li><a href ="signup.html">Sign Up</a></li>
<li><a href ="feedback.html">Feedback</a></li>
<li><a href ="dashboard.html">Your Dashboard</a></li>
</ul>
</nav>
</header>

<div class="body1">
<a href="#"><img src="first.jpg"></a>
<a href="#"><img src="second.jpg"></a>
<a href="#"><img src="third.jpg"></a>
<h2>SERVICES RENDERED</h2>
</div>

<div class="body2">
<h2>WHAT WE DO</h2>
<div id="first">
<a href="#"><img src="mapipad.jpg"></a>
<a href="#"><img src="girlmap.jpg"></a>
<a class="linkplc" href="/chaperones">SEARCH FOR A GUIDE</a>
</div>

<div id="second">
<a href="#"><img src="roadmount.jpg"></a>
<a href="#"><img src="monestry.jpg"></a>
<a class="linkplc" href="/register">BE A GUIDE</a>
</div>

<div id="third">
<a href="#"><img src="flightwindow.jpg"></a>
<a href="#"><img src="cafewater.jpg"></a>
<a class="linkplc" href="#">BLOG WITH US</a>
</div>

<div id="fourth">
<a href="#"><img src="guyonrock.jpg"></a>
<a href="#"><img src="quote.jpg"></a>
<a class="linkplc" href="#">SEARCH FOR BLOGGERS</a>
</div>

<div id="fifth">
    <a href="#"><img src="santortini.jpg"></a>
    <a href="#"><img src="bicycle.jpg"></a>
    <a class="linkplc" href="#">LOCAL FASCINATIONS</a>
</div>

<div id="sixth">
        <a href="#"><img src="thingsimg.jpg"></a>
        <a href="#"><img src="church.jpg"></a>
        <a class="linkplc" href="#">POST </a>
</div>
</div>

<div class="body3">
  <h4>SOME OF OUR FAVOURITES</h4>
    <div class="container"> 
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
          </ol>
      
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="panama (1).jpg" alt="Los Angeles">
              <div class="carousel-caption">
                  <h3>Panama</h3>
                  <p>Channel your inner Robinson Crusoe with remote islands and untouched forest</p>
                </div>
            </div>
      
            <div class="item">
              <img src="panama (2).jpg" alt="Chicago">
              <div class="carousel-caption">
                  <h3>Taiwan</h3>
                  <p>A smashing intro to East Asia with irresistible food and nature galore</p>
                </div>
            </div>
          
            <div class="item">
              <img src="panama (3).jpg" alt="New york">
              <div class="carousel-caption">
                  <h3>Cape Verde</h3>
                  <p>Where music and multiculturalism meet on warm sands</p>
                </div>
            </div>

            <div class="item">
                <img src="panama (4).jpg" alt="Chicago">
                <div class="carousel-caption">
                    <h3>Montenegro</h3>
                    <p>A tiny, budget version of Italy with some of Europe’s most stunning beaches</p>
                  </div>
              </div>

              <div class="item">
                <img src="panama (5).jpg" alt="Chicago">
                <div class="carousel-caption">
                    <h3>Romania</h3>
                    <p>Wacky attractions like an underground theme park, and yes, Dracula</p>
                  </div>
              </div>

          </div>
      
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      


 
</div>

<footer>
<div class="w1">
<p> We bring you aesthetically <br>pleasing travel destinations , ideas <br> and trip essentials on your way.</p>
</div>

<div class="w2">
<ul>
<li><a href="#">Connect</a></li>
<li><a href="#">Contact</a></li>
<li><a href="#">Instagram</a></li>
<li><a href="#">Facebook</a></li>
</ul>
</div>

<div class="w3">
<p>For Daily updates , click on the button below or <br>subscribe to our newsletter</p>
<input type="email" id="newem" placeholder="enter your email here">
<a href="#">SUBSCRIBE</a>
</div>

</footer>
</div>
</body>
</html>